<div id="wrapper">

	<!--NAVIGATION (menu left)-->
	<div class="container">
	<div class="header-quote">“Your Mess is Mine”</div>
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<div class="trigger"><a class="gn-icon gn-icon-menu"><span>Menu</span></a></div>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a href="#home" class="gn-icon fa-heart">Inicio</a></li>
							<li><a href="#story" class="gn-icon fa-comment">La Historia</a></li>
							<!-- <li><a href="index.html#about" class="gn&#45;icon fa&#45;users">Special Guests</a></li> -->
							<!-- <li> -->
							<!-- 	<ul class="gn&#45;submenu"> -->
							<!-- 		<li><a href="index.html#parents" class="gn&#45;icon fa&#45;chevron&#45;right">Parents</a></li> -->
							<!-- 		<li><a href="index.html#godfathers" class="gn&#45;icon fa&#45;chevron&#45;right">Godfathers</a></li> -->
							<!-- 		<li><a href="index.html#maids" class="gn&#45;icon fa&#45;chevron&#45;right">Bridesmaids &#38; Groomsmen</a></li> -->
							<!-- 	</ul> -->
							<!-- </li> -->
							<!-- <li><a href="#events" class="gn&#45;icon fa&#45;glass">Eventos</a></li> -->
							<!-- <li> -->
							<!-- 	<ul class="gn&#45;submenu"> -->
              <li><a href="#ceremony" class="gn-icon fa-gavel">Ceremonia</a></li>
              <li><a href="#party" class="gn-icon fa-glass">Fiesta</a></li>
              <!-- </ul> -->
							<!-- </li> -->
							<!-- <li><a href="index.html#registry" class="gn&#45;icon fa&#45;gift">Mesa de Regalos</a></li> -->
							<!-- <li><a href="index.html#album" class="gn&#45;icon fa&#45;camera">Photo Album</a></li> -->
							<li><a href="#rsvp" class="gn-icon fa-book">Invitacion</a></li>
              <% if user_signed_in?%>
                <li>
                  <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: 'gn-icon fa-user' %>
                </li>
              <% end %>
						</ul>
					</div><!--end gn-scroller-->
				</nav>
			</li>
			<li class="back"><a class="gn-icon fa-angle-double-up" href="index.html#top"></a></li>
		</ul>
	</div><!--end container-->
	<section class="ss-style-bottom"></section>
	<!--END NAVIGATION (menu left)-->
	
	
	
	<!--HEADER-->
	<div id="home">
		<!-- <ul id="cbp&#45;bislideshow" class="cbp&#45;bislideshow"> -->
		<!-- 	<li><img src="assets/1.jpg" alt="image01"/></li> -->
		<!-- 	<li><img src="assets/2.jpg" alt="image02"/></li> -->
		<!-- 	<li><img src="assets/3.jpg" alt="image03"/></li> -->
		<!-- </ul> -->
		<ul class="hero-image">
      <li>
        <%= image_tag("1.jpg") %>
      </li>
		</ul>
		<div class="container">
			<div class="header animated tada">
				<h1>Diego & Barbara</h1>
				<h4>¡NOS CASAMOS!</h4>
				<hr />
				<h4>Sábado, 25 de Febrero de 2017</h4>
				<div class="header-button">
					<a href="#story">CELEBRA CON NOSOTROS!</a>
				</div>
			</div>
		</div>
	</div><!--end #home-->
	<!--END HEADER-->
	
	
	
	<!--STORY-->
	<div id="story">
	<div class="story-content">
		<div class="container">
			<h3>Él & Ella.</h3>
			<div class="heart content-style"></div>
		
			<div class="row">
				<div class="col-md-3">
					<div class="shape">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
              <%= image_tag("her.jpg") %>
						</div>
					</div>
						<h4 class="bride-name">Barbara Valdivia</h4>
						<h3 class="bride-description">La Novia</h3>
							<!-- <div class="social"> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;facebook"></i></a> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;twitter"></i></a> -->
							<!-- </div> -->
				</div><!--end col-md-3-->
				<div class="col-md-6">
          <!-- <p>Yo la conocí en un taxi  -->
          <!-- En camino al club  -->
          <!-- Yo la conocí en un taxi  -->
          <!-- En camino al club  -->
          <!-- Me lo paro  -->
          <!-- El taxi  -->
          <!-- Me lo paro  -->
          <!-- El taxi  -->
          <!-- Me lo paro  -->
          <!-- El taxi  -->
          <!-- Me lo paro  -->
          <!-- El taxi.  -->
          <!--  -->
          <!-- EN el taxi la conocí por un basil  -->
          <!-- estaba sexy, pero tan sexy  -->
          <!-- que por poquito arrollamos un tipo y chocamos el taxi  -->
          <!-- era el chofer, el que dijo: "!Oye, mira esa mujer!"  -->
          <!-- esta dura, ah dura, que dura  -->
          <!-- pero ya tu sabes que ella quiere efectivo dinero,  -->
          <!-- y saque chula, lula, con culo de mula,  -->
          <!-- y no le tengas duda, ella le saca todo el jugo a la uva  -->
          <!-- que hace vino, si, hace vino. </p> -->
					<!--  -->
          <!-- <p>si, ven aquí si, que no hay...  -->
          <!-- you look like a freaky dame cerebro y pinky  -->
          <!-- tu de Dominiqui te pones quinki  -->
          <!-- you put it in places that I would never think it,  -->
          <!-- ella se bebe dos botellas de vino,  -->
          <!-- para que seria mas fino sea bueno pa' lo intestinos  -->
          <!-- pero no, a ella lo que le gustan son los masculinos  -->
          <!-- para ella se le vino, ¿qué?, que ella hace el vino.</p> -->
					<!--  -->
					<!-- <p>. . . </p> -->
				</div><!--end-col-md-6-->
				<div class="col-md-3">
					<div class="shape">
						<a href="index.html#" class="overlay hexagon"></a>
						<div class="base">
              <%= image_tag("him.jpg") %>
						</div>
					</div>
						<h4 class="groom-name">Diego Araiza</h4>
						<h3 class="groom-description">El Novio</h3>
							<!-- <div class="social"> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;facebook"></i></a> -->
							<!-- 	<a href="index.html#"><i class="fa&#45;twitter"></i></a> -->
							<!-- </div> -->
				</div><!--end col-md-3-->
			</div><!--end row-->
			
		</div><!--end container-->
	</div><!--end story content-->
	</div><!--end #story-->
	<!--END STORY-->
	
	
	
	<!--TIMER-->
	<div id="timer">
		<div class="container">	
			<div id="countdown-bg">
				<ul id="countdown">
					<li> <span class="days">00</span>
					<div class="timeRefDays">dias</div>
					</li>
					<li> <span class="hours">00</span>
					<div class="timeRefHours">horas</div>
					</li>
					<li> <span class="minutes">00</span>
					<div class="timeRefMinutes">minutos</div>
					</li>
					<li> <span class="seconds">00</span>
					<div class="timeRefSeconds">segundos</div>
					</li>
				</ul>
			</div>
			<div class="timer-text"><h2>para el feliz evento!</h2></div>
		</div><!--end container-->
	</div><!--end #timer-->
	<!--END TIMER-->
	
	
	
	<!--ABOUT-->
	<!-- <div id="about"> -->
	<!-- 	<div class="container">	 -->
	<!-- 	 -->
	<!-- 	 -->
	<!-- 		<!&#45;&#45;Parents&#45;&#45;> -->
	<!-- 		<div id="parents"> -->
	<!-- 			<h3>The Happy Couple's Parents</h3> -->
	<!-- 			<div class="heart content&#45;style"></div> -->
	<!-- 			 -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/her&#45;mother.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;women"><h4>Ana Jones</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/her&#45;father.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;men"><h4>Paul Jones</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;4"> -->
	<!-- 					<div class="parents&#45;text"><h2>&#38;laquo; &#38;nbsp; hers &#38;nbsp; &#38;  &#38;nbsp; his &#38;nbsp; &#38;raquo; </h2></div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;4&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/his&#45;mother.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;women"><h4>Lara Smith</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="parents"> -->
	<!-- 					<a href="index.html#" class="overlay hexagon"></a> -->
	<!-- 					<div class="base"> -->
	<!-- 						<img src="assets/his&#45;father.jpg" alt="" /> -->
	<!-- 					</div> -->
	<!-- 					<div class="parents&#45;text&#45;men"><h4>George Smith</h4></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 			</div><!&#45;&#45; end row &#45;&#45;> -->
	<!-- 		</div><!&#45;&#45;end #parents&#45;&#45;> -->
	<!-- 		 -->
	<!-- 		 -->
	<!-- 		<!&#45;&#45;Godfathers&#45;&#45;> -->
	<!-- 		<div id="godfathers"> -->
	<!-- 			<h3>The Godfathers</h3> -->
	<!-- 			<div class="heart content&#45;style"></div> -->
	<!-- 			 -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col&#45;md&#45;4"> -->
	<!-- 					<div class="godfathers&#45;text&#45;women"><h4>Tina Snow</h4> -->
	<!-- 					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus eu congue fringilla. Vivamus malesuada dictum lorem.</p></div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;4&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="godfathers"> -->
	<!-- 						<div class="overlay hexagon"></div> -->
	<!-- 						<div class="godfathers&#45;img"><img src="assets/godmother.jpg" alt="" /></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;2"> -->
	<!-- 					<div class="godfathers"> -->
	<!-- 						<div class="overlay hexagon"></div> -->
	<!-- 						<div class="godfathers&#45;img"><img src="assets/godfather.jpg" alt="" /></div> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;2&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;4"> -->
	<!-- 					<div class="godfathers&#45;text&#45;men"><h4>Derek Snow</h4> -->
	<!-- 					<p>Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien.</p></div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;4&#45;&#45;> -->
	<!-- 			</div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 		</div><!&#45;&#45;end #godfathers&#45;&#45;> -->
	<!-- 				 -->
	<!-- 				 -->
	<!-- 		<div id="maids"> -->
	<!-- 			<h3>Bridesmaids &#38; Groomsmen</h3> -->
	<!-- 			<div class="heart content&#45;style"></div> -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col&#45;md&#45;3"> -->
	<!-- 					<div class="bridesmaid"> -->
	<!-- 						<img src="assets/bridesmaid.png" alt="bridesmaids" /> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;3 maids"> -->
	<!-- 					<div class="bridesmaids"> -->
	<!-- 					<h4>Jenny Doe</h4> -->
	<!-- 					<h4>Carla Croft</h4> -->
	<!-- 					<h4>Andrea James</h4> -->
	<!-- 					<h4>Tina Mosk</h4> -->
	<!-- 					<h4>Jessie Silver</h4> -->
	<!-- 					<h4>Vivian Stone</h4> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;3 maids"> -->
	<!-- 					<div class="groomsmen"> -->
	<!-- 					<h4>Brian Smith</h4> -->
	<!-- 					<h4>Alex Dean</h4> -->
	<!-- 					<h4>Karl Mann</h4> -->
	<!-- 					<h4>Robert Fox</h4> -->
	<!-- 					<h4>Steve Jones</h4> -->
	<!-- 					<h4>Daryl Gold</h4> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				<div class="col&#45;md&#45;3"> -->
	<!-- 					<div class="bestman"> -->
	<!-- 						<img src="assets/bestman.png" alt="bestmen" /> -->
	<!-- 					</div> -->
	<!-- 				</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 				 -->
	<!-- 			</div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 		</div><!&#45;&#45;end #maids&#45;&#45;> -->
	<!-- 		 -->
	<!-- 	</div><!&#45;&#45; end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #about&#45;&#45;> -->
	<!-- <!&#45;&#45;END ABOUT&#45;&#45;> -->
	
	
	
	<!-- <!&#45;&#45;EVENTS&#45;&#45;> -->
	<!-- <div id="events"> -->
	<!-- 	<div class="container"> -->
	<!-- 		<div class="events"> -->
	<!-- 			<h2>You are welcome to attend our Wedding Ceremony and our Wedding Party<br /> on 24th of May at "La Pirati", Vama Veche!</h2> -->
	<!-- 			<div class="events&#45;button"> -->
	<!-- 				<a href="index.html#guestbook">RSVP here</a> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #events&#45;&#45;> -->
	<!-- <!&#45;&#45;END EVENTS&#45;&#45;> -->
	
	
	
	<!--WEDDING-->
	<div id="wedding">
		<div class="container">
		
			<div id="ceremony">
			<h3>La Ceremonia</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Fecha:</h4> <p>25 de febrero 2017</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Tiempo:</h4> <p>13:00 hrs</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="ceremony-data">
						<h4>Ubicacion:</h4> <p>Capilla "San José del Altillo", Av. Universidad 1700, Colonia Santa Catarina Coyocan, Coyoacán, Ciudad de México.</p>
						</div>
					</div><!--end col-md-4-->
				</div><!--end row-->
				
				<div class="row">
					<div class="col-md-6">
						<div class="ceremony-text">
              <p>
              En el antiguo barrio de Coyoacán, uno de los lugares más turísticos y bohemios de la Ciudad de México, se encuentra el Templo de San José del Altillo, construcción de estilo contemporáneo de gran valor arquitectónico, que hasta el año 1970 fue capilla del Escolasticado de la Congregación.
              </p>
						</div>
					</div><!--end col-md-6-->
					<div class="col-md-6">
						<!-- Slideshow -->
						<div class="rslides_container">
						  <ul class="rslides" id="slider">
                <li>
                  <%= image_tag("ceremony4.jpg") %>
                </li>
                <li>
                  <%= image_tag("ceremony5.jpg") %>
                </li>
                <li>
                  <%= image_tag("ceremony6.jpg") %>
                </li>
						  </ul>
						</div>
					</div><!--end col-md-6-->
				</div><!--end row-->	
			</div><!--end #ceremony-->
			
			
			<div id="party">
			<h3>La Fiesta</h3>
			<div class="heart content-style"></div>
			
				<div class="row">
					<div class="col-md-4">
						<div class="party-data">
						<h4>Fecha:</h4> <p>25 de Febrero de 2017</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="party-data">
						<h4>Time:</h4> <p>15:00 hrs</p>
						</div>
					</div><!--end col-md-4-->
					<div class="col-md-4">
						<div class="party-data">
						<h4>Lugar:</h4> <p>Jardines del Pedregal, CDMX </p>
						</div>
					</div><!--end col-md-4-->
				</div><!--end row-->
				
				<div class="row">
					<div class="party-text">
						<p>¡Ven a celebrar con nosotros!</p>
					</div>
				</div><!--end row-->
				
				<div class="row">
					<div id="party-carousel">
						<!-- <div class="item"><%= image_tag('party1.jpg')%></div> -->
						<div class="item"><%= image_tag('party2.jpg')%></div>
						<div class="item"><%= image_tag('party3.jpg')%></div>
						<div class="item"><%= image_tag('party4.jpg')%></div>
						<div class="item"><%= image_tag('party5.jpg')%></div>
						<div class="item"><%= image_tag('party6.jpg')%></div>
						<div class="item"><%= image_tag('party7.jpg')%></div>
						<div class="item"><%= image_tag('party8.jpg')%></div>
					</div>
				</div><!--end row-->
				
				<div class="row">
					<div class="col-md-6">
						<div class="party-text">
              <!-- <p>El Pedregal de San Ángel o simplemente El Pedregal es el nombre común de un distrito residencial con mayor prestigio de la Ciudad de México ubicado en las delegaciones Álvaro Obregón, Coyoacán y Tlalpan al sur de la metrópoli. Una de sus entradas principales es a través de la avenida de los Insurgentes y Periférico Sur. Su verdadero nombre es Jardines del Pedregal de San Ángel referente a la aledaña San Ángel y data de alrededor de 1940.</p> -->
							<div class="location-data">
								<h4>Jardines del Pedregal</h4>
								<p>Calle Fuego 990<br />
									 Jardines del Pedregal, CDMX</p>
							</div>
						</div>
					</div><!--end col-md-6-->
					<div class="col-md-6">
							<div id="gmap">
								<div id="location"></div>
							</div>
					</div><!--end col-md-6-->
				</div><!--end row-->
			</div><!--end #party-->
			
		</div><!--end container-->
	</div><!--end #wedding-->
	<!--END WEDDING-->
	
	
	
	<!--GIFT REGISTRY-->
	<!-- <div id="registry"> -->
	<!-- 	<div class="container"> -->
	<!-- 		<div class="registry&#45;text"> -->
	<!-- 			<h2>Ve nuestra Mesa de Regalos y ayudanos a construir nuestro futuro juntos.</h2> -->
	<!-- 		</div> -->
	<!-- 		<div class="row registry"><div class="registry&#45;logos"> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo1.png" alt="logo1"/></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo2.png" alt="logo2" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo3.png" alt="logo3" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo4.png" alt="logo4" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 		</div></div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 		<div class="row"><div class="registry&#45;logos"> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo5.png" alt="logo5" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 				<a href="index.html#" target="_blank"><img src="assets/registry&#45;logo6.png" alt="logo6" /></a> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			<div class="col&#45;md&#45;3"> -->
	<!-- 			</div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 		</div></div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #registry&#45;&#45;> -->
	<!--END GIFT REGISTRY-->
	
	
	
	<!--PHOTO ALBUM-->
	<!-- <div id="album"> -->
	<!-- 	<div class="container"> -->
	<!-- 		<h3>The Lovers' Photo Album</h3> -->
	<!-- 		<div class="heart content&#45;style"></div> -->
	<!-- 		 -->
	<!-- 			<div class="album&#45;text"> -->
	<!-- 				<p>Sanitas vitae massa ligula. Donec scelerisque rutrum libero tempus posuere. Morbi tristique diam non porttitor aliquet. Morbi gravida bibendum leo, sed porta mauris laoreet in. Duis sed elit mauris. Donec mollis sapien in quam aliquam sodales. Integer mattis leo ac ante suscipit semper. Curabitur vel malesuada augue, non ultrices lacus. Vestibulum id suscipit leo, ac semper lectus. Aenean mollis neque mi, vel eleifend neque vestibulum vel. Mauris orci diam, bibendum eu lobortis.</p> -->
	<!-- 			</div> -->
	<!-- 			 -->
	<!-- 			<div class="prettyPhoto&#45;gallery" style="visibility: hidden; opacity: 0;"> -->
	<!-- 			<section id="photostack" class="photostack"> -->
	<!-- 				<div> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large1.jpg" class="photostack&#45;img"><img src="assets/album/1.jpg" alt="Autumn Walk" /></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Autumn Walk</h2> -->
	<!-- 							<div class="photostack&#45;back"> -->
	<!-- 								“I feel like everything in my life has led me to you. My choices, my heartbreaks, my regrets. Everything. My past seems worth it. Because if I had done one thing differently, I might never have met you.”  -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large3.jpg" class="photostack&#45;img"><img src="assets/album/3.jpg" alt="Happy Moments"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Happy Moments</h2> -->
	<!-- 							<div class="photostack&#45;back">		 -->
	<!-- 								"The only way you can beat my crazy was by doing something crazy yourself. Thank you. I love you. I knew it the minute I met you. I’m sorry it took so long for me to catch up. I just got stuck." -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large10.jpg" class="photostack&#45;img"><img src="assets/album/10.jpg" alt="My Sunshine"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">My Sunshine</h2> -->
	<!-- 							<div class="photostack&#45;back"> -->
	<!-- 								"I want his fingers to always find the spaces in between mine."  -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large16.jpg" class="photostack&#45;img"><img src="assets/album/16.jpg" alt="At the Countryside"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">At the Countryside</h2> -->
	<!-- 							<div class="photostack&#45;back"> -->
	<!-- 								"I've looked around enough to know that you're the one I want to go through time with." -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large9.jpg" class="photostack&#45;img"><img src="assets/album/9.jpg" alt="Relaxing on the Beach"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Relaxing on the Beach</h2> -->
	<!-- 							<div class="photostack&#45;back">			 -->
	<!-- 								"Before we met, I was as lost as a person could be and yet you saw something in me that somehow gave me direction again." -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure> -->
	<!-- 						<a data&#45;rel="prettyPhoto[album]" href="assets/album/large4.jpg" class="photostack&#45;img"><img src="assets/album/4.jpg" alt="Love is in the Air"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Love is in the Air</h2> -->
	<!-- 							<div class="photostack&#45;back">		 -->
	<!-- 								"You do realize that your greatest superpower is your ability to win me over with just one look, no matter how ridiculous you sound, right?" -->
	<!-- 							</div> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/7.jpg" alt="img07"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Fit for Each Other</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/8.jpg" alt="img08"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">One Rainy Day</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/6.jpg" alt="img06"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Just Happy</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/2.jpg" alt="img02"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Country Talk</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/11.jpg" alt="img11"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Resting in the Park</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/12.jpg" alt="img12"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Eternity</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/13.jpg" alt="img13"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">A Romantic Date</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/14.jpg" alt="img14"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Watching the Sky</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/15.jpg" alt="img15"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">There's Only Love</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					<figure data&#45;dummy> -->
	<!-- 						<a href="index.html#" class="photostack&#45;img"><img src="assets/album/5.jpg" alt="img5"/></a> -->
	<!-- 						<figcaption> -->
	<!-- 							<h2 class="photostack&#45;title">Together Again</h2> -->
	<!-- 						</figcaption> -->
	<!-- 					</figure> -->
	<!-- 					</div> -->
	<!-- 			</section> -->
	<!-- 			</div><!&#45;&#45;end PrettyPhoto gallery&#45;&#45;> -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #album&#45;&#45;> -->
	<!--END PHOTO ALBUM-->

	
	
	<!--RSVP-->
	<div id="rsvp">
		<div class="container">
			<div class="rsvp-text">
				<h2>¿Podemos contar con tu asistencia?</h2>
				<p>Por favor confirma tu presencia al evento hasta antes del 1 de Febrero 2017. Gracias!</p>
			</div>
		</div><!--end container-->
	</div><!--end #rsvp-->
	<!--END RSVP-->
	
	
	
	<!--FORM-->
	<!-- <div id="form"> -->
	<!-- 	<div class="container"> -->
  <!--     <h3>Invitación</h3> -->
	<!-- 		<div class="heart content&#45;style"></div> -->
	<!-- 		 -->
	<!-- 			<div class="row"> -->
	<!-- 					<div class="col&#45;md&#45;3 rsvp&#45;image"><%= image_tag("rsvp&#45;left.png")%></div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 					<div class="col&#45;md&#45;6"> -->
	<!-- 						<div class="contact&#45;form"> -->
	<!-- 							<form method="POST" id="contact&#45;form" class="form&#45;horizontal" action="#" onSubmit=""> -->
	<!-- 								<!&#45;&#45; <div class="form&#38;#45;group"> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; <label>Name</label> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; <input class="form&#38;#45;control" type="text" name="name" required/> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; </div> &#45;&#45;> -->
	<!-- 								<!&#45;&#45;  &#45;&#45;> -->
	<!-- 								<!&#45;&#45; <div class="form&#38;#45;group"> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; <label>Email</label> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; 	<input class="form&#38;#45;control" name="email" type="text" required/> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; </div> &#45;&#45;> -->
	<!-- 								 -->
	<!-- 								<div class="form&#45;group"> -->
  <!--                   <label class="attending&#45;question">¿Asistirás?</label><br /> -->
	<!-- 									<input id="radio_1" type="radio" name="radio_group" class="radio&#45;inv" value="yes"> -->
	<!-- 									<label class="attending&#45;text" for="radio_1">Sí</label> -->
	<!-- 									<input id="radio_2" type="radio" name="radio_group" class="radio&#45;inv" value="no"> -->
	<!-- 									<label class="attending&#45;text" for="radio_2">No</label> -->
	<!-- 								</div> -->
	<!-- 								 -->
	<!-- 								<!&#45;&#45; <div class="form&#38;#45;group"> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; <label>Message</label> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; 	<textarea class="form&#38;#45;control" name="message" rows="6" maxlength="1024" required></textarea> &#45;&#45;> -->
	<!-- 								<!&#45;&#45; </div> &#45;&#45;> -->
	<!-- 								 -->
	<!-- 								<div class="form&#45;group"> -->
	<!-- 								<div class="col&#45;lg&#45;offset&#45;2 col&#45;lg&#45;10"> -->
	<!-- 									<!&#45;&#45; <button class="btn btn&#38;#45;default" type="reset" >Reset</button> &#45;&#45;> -->
	<!-- 									<input type="hidden" name="save" value="contact&#45;form"> -->
	<!-- 									<button class="btn btn&#45;success" id="submit" type="submit">Confirmar</button> -->
	<!-- 								</div> -->
	<!-- 								</div> -->
	<!-- 							</form> -->
	<!-- 						</div><!&#45;&#45;end contact&#45;form&#45;&#45;> -->
	<!-- 					</div><!&#45;&#45;end col&#45;md&#45;6&#45;&#45;> -->
	<!-- 					<div class="col&#45;md&#45;3 rsvp&#45;image"><%= image_tag("rsvp&#45;right.png")%></div><!&#45;&#45;end col&#45;md&#45;3&#45;&#45;> -->
	<!-- 			</div><!&#45;&#45;end row&#45;&#45;> -->
	<!-- 			 -->
	<!-- 	</div><!&#45;&#45;end container&#45;&#45;> -->
	<!-- </div><!&#45;&#45;end #form&#45;&#45;> -->
	<!-- <!&#45;&#45;END FORM&#45;&#45;> -->
	
  <%= render 'shared/form' %>

	<div id="registry">
		<div class="container">
			<div class="registry-text">
				<h2>Ve nuestra mesa de regalos y ayúdanos a construir nuestro futuro juntos.</h2>
			</div>
			<div class="row registry"><div class="registry-logos">
				<div class="col-md-3">
				</div><!--end col-md-3-->
				<div class="col-md-6">
					<a href="http://www.liverpool.com.mx/tienda/giftregistry/giftRegistryDetail.jsp?eventNo=1&eventDNo=40560160&_requestid=2620938" target="_blank"><img src="assets/registry-logo2.png" alt="logo2" /></a>
				</div><!--end col-md-3-->
				<div class="col-md-3">
				</div><!--end col-md-3-->
			</div></div><!--end row-->
			<div class="row"><div class="registry-logos">
				<div class="col-md-3">
				</div><!--end col-md-3-->
				<div class="col-md-3">
				</div><!--end col-md-3-->
				<div class="col-md-3">
				</div><!--end col-md-3-->
				<div class="col-md-3">
				</div><!--end col-md-3-->
			</div></div><!--end row-->
		</div><!--end container-->
	</div><!--end #registry-->
	
	
	<!--FOOTER-->
	<div class="copyright">
		<div class="container">
			&copy; Desarrollado por Zazvick
		</div><!--end container-->
	</div>
	<!--END FOOTER-->
	
</div><!--end #wrapper-->

